@import url("../../constantes.css");

.urubuzado {  
    background-image: url("/public/imagens/urubuzado.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    color: black;

    height: 100vh;
}

.urubuzado h1 {
    font-size: 70px;
    text-shadow: 2px 2px 10px;
    margin: 0;
    margin-left: 2rem;
}

.urubuzado p {
    font-size: 16px;
    text-shadow: 1px 1px 2px;
    margin-left: 2rem;
}

.botao {
    color: white;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 2rem;
}
