@import url("../../constantes.css");

.Urubuzado{
    background-image: url("/public/imagens/urubuzado.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    color: black;

    height: 100vh;
}

.Urubuzado h1{
    font-size: 70px;
    text-shadow: 2px 2px 10px;
    margin: 0;
    margin-left: 2rem;
}

.Urubuzado p{
    font-size: 16px;
    text-shadow: 1px 1px 2px;
    margin-left: 2rem;
}

.botao-voltar-tela-inicial {
    margin-left: 2rem;
    width: fit-content;
    text-align: center;
}
