@import url("../../constantes.css");

.meus_rendimentos {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;

    padding: 2em;

}

.proximo_resultado_div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    margin: 0 auto;
}

.frase_motivacional {
    text-align: center !important;
    margin: 0 auto;
    width: 80%;
    background-color: var(--fundo-secundario);
    padding: 1em;
    border-radius: var(--default-border-radius);
    border: 2px solid red !important;
}

.informacoes_rendimentos {
    text-align: center;
    border: 2px solid red;
}

.btn {
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: var(--default-border-radius);
    color: white;
}