@import url("../../constantes.css");

.confirmacao-saque-pop-up {
    background-color: var(--fundo-secundario);

    border-radius: var(--default-border-radius);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;

    text-align: center;
}

.confirmacao-saque-pop-up p {
    font-weight: bold;
}

.botoes-confirmacao-saque {
    display: flex;
    flex-direction: row;
}
