@import url("../../constantes.css");

.suporte {
    display: flex;
}

.suporte main .Topicos{
    display: flex;
    flex-direction: column;
    width: 44vw;

    position: absolute;
    left: 25vw;
}

.suporte h1{
    font-weight: bolder;
    font-size: 44px;
}

.suporte .Topicos h2{
    font-weight: bolder;
    font-size: 34px;
    color:var(--cor-secundaria);
    border-bottom: 2px var(--cor-secundaria) solid;
}
.suporte .Topicos{
    font-size: 22px;
}

details summary {
    border-bottom: 2px var(--cor-borda) solid;
    width: 35vw;
    font-size: 30px;

    margin-top: 20px;
    cursor: pointer; 
}
details p{ margin-top: 6px; }

.investimentos_sup {
    width: 20vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    position: absolute;
    right: 50px;
    top: 30px;
}

.botao_suporte{
    width: 20vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}