@import url("../../constantes.css");

.novo_investimento {
    width: 100%;
    padding: 2em;
}

.novo_investimento .titulo {
    text-align: center;
}

.novo_investimento form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input_class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_field_novo_investimento {
    width: 50%;
}

.input_class label {
    margin: auto 0;
}

.div_com_icone {
    width: 50%;
    background-color: var(--fundo-secundario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--default-border-radius);
    padding-right: 1em;
}

#numero_cartao {
    width: 100%;
}

.icone_seta {
    margin: auto 0;
    font-size: 1em;
}

.icone_cartao {
    margin: auto 0;
    font-size: 1.6em;
}

.botao_novo_investimento {
    width: 15em;
    margin-top: 2em;
}
