@import url("../../constantes.css");

:root {
    --cor-dropdown: #1A242D;
    --cor-escura: #0F1923;

    --border-radius-padrao: 7px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--fundo-primario);
    border-bottom: 1px solid var(--cor-borda);
    position: fixed;
    width: 100vw;
    height: var(--altura-header);
    top: 0;

    margin: 0;
}

.bar-icon {
    color: white;
    margin: auto 0;
    margin-left: 20px;
    font-size: 25px;
}

.bar-icon:hover {
    cursor: pointer;
}

.header-centro .link-home{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    justify-content: center;
}

.urubu-logo {
    width: 2.5v;
    
    /* torna o logo branco */
    filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
 
    font-size: 10px;
    cursor: pointer;
}

.nome-empresa{
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
}

.header-direito {
    display: flex;
    column-gap: 5px;
    margin: auto 0;
    margin-right: 10px;
    position: relative;
}
.nome-usuario {
    font-size: 1em;
}

.icone-usuario {
    margin: auto 10px;
    font-size: 22px;
}

.pop-up-opcoes-login:hover {
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 0;
    right: 0;
    /* padding: 0;
    /*border-radius: var(--border-radius-padrao);*/
    /* width: 100%; */
    /*border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* position: absolute; */
}

.link-dropdown {
    /* border: 2px solid blue; */
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor-dropdown);
    padding: 10px 20px;
    border: 2px solid red;
}

/* .dropdown a {
    background-color: var(--cor-dropdown);
    padding: 10px 20px;
    margin: 0;
    color: white !important;
    cursor: pointer;
}*/

/* .l1 {
    border-radius: var(--border-radius-padrao) var(--border-radius-padrao) 0 0;
}

.l3 {
    border-radius: 0 0 var(--border-radius-padrao) var(--border-radius-padrao);
} */
/*
.botao-header {
    font-size: 0.6em !important;
} */