@import url("../../constantes.css");

.entrar {
    background-color: var(--fundo-secundario);
    width: var(--entrar-width);
    height: var(--entrar-height);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--default-border-radius);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entrar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entrar input {
    background-color: var(--input-field-color);
    padding: 5px;
    border-radius: var(--small-border-radius);
    color: white;
    border: none;   
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 100%;
    padding: 20px;
}

.entrar input:focus {
    border: none;
    outline: none;
}

.entrar p {
    color: var(--cor-texto-cadastro);
}

.entrar-esqueceu-senha {
    font-size: 11px;
    text-align: left;
    color: var(--cor-texto-cadastro);
}

.ainda-nao-investidor {
    color: var(--cor-texto-cadastro);
    text-align: left;
    font-size: 12px;    
}

.x {
    color: var(--x-button-color);
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}
