@import url("../../constantes.css");

.entrar {
    background-color: var(--fundo-secundario);
    width: var(--entrar-width);
    /* height: var(--entrar-height); */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--default-border-radius);
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.entrar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entrar input {
    background-color: var(--input-field-color) !important;
    padding: 5px;
    border-radius: var(--small-border-radius);
    color: white;
    border: none;   
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 100%;
    padding: 1.2rem;
}

.entrar input:focus {
    border: none;
    outline: none;
}

.entrar p {
    color: var(--cor-texto-cadastro);
}

.entrar button {
    width: 80%;
    margin: 1rem auto 0 auto;
    cursor: pointer;
}

.entrar_esqueceu_senha {
    font-size: 0.7rem;
    text-align: left;
    color: var(--cor-texto-cadastro);
    cursor: pointer;
}

.ainda_nao_investidor {
    color: var(--cor-texto-cadastro);
    text-align: left;
    font-size: 0.8rem;
}

.ainda_nao_investidor b {
    color: var(--cor-secundaria);
    cursor: pointer;
}

.x {
    color: var(--x-button-color);
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}
