@import url("../../constantes.css");

.resultado {
    /* border: 2px solid blue; */
    text-align: center;
    min-width: 300px;

    display: flex;
    flex-direction: column;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: var(--default-border-radius);

    height: 15em;

    box-shadow: 3px 3px 10px black;
}
