@import url("../../constantes.css");

.ultimo_resultado {
    width: var(--main-width);
    max-width: var(--main-max-width);
    min-width: 700px;

    height: 80%;
    min-height: 300px;
    /* border: 2px solid yellow; */
    
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--default-border-radius);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proximo_jogo {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
