@import url("../../constantes.css");

.ultimo-resultado {
    width: var(--main-view-width);
    max-width: var(--main-max-width);
    min-width: var(--main-min-width);

    height: 40vh;
    
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--default-border-radius);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proximo-jogo {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
