@import url("../../constantes.css");

* {
    box-sizing: border-box;
}

.regras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--altura-header);
}

.main {
    margin: 0;
    display: flex;
}

.conteudo_principal {
    text-align: center;
    margin: 0 auto;
}

.conteudo_principal h1 {
    padding-top: 3rem;
    font-weight: bolder;
    font-size: 2.5rem;
}

.conteudo_principal > p {
    max-width: 50vw;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: justify;
}

.conteudo_principal > img {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 50vw;
    border-radius: var(--default-border-radius);
}
