@import url("../../constantes.css");

main {
	position: relative;

	height: calc(100vh - var(--altura-header));
	width: 100vw;
	margin-top: var(--altura-header);
  padding: 0;

	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  position: fixed;
  z-index: 1;
}

.conteudo_principal_perfil_resultados {
  width: 100%;
  padding: 0px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.resultados_titulo{
  margin: 40px 0px 30px 0px;
  padding: 0;

  display: flex;
  justify-content: center;
}

.resultados_jogos{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  Overflow-x:scroll;
}

.resultados_botoes{
  margin: 40px 40px 40px 40px;
  display: flex;
  flex-direction: row;
}

.separador_botoes{
  width: 40px;
}
