@import url("../../constantes.css");

.sidebar {
    min-width: 150px;
    width: 20vw;
    
    background-color: var(--fundo-primario);
    border-right: 1px solid var(--cor-borda);
    
    text-decoration: none;
    color: white;
    border: 2px solid red;

    /* posicionamento na tela */
    position: fixed;
    left: 0;
    top: var(--altura-header);

    height: calc(100vh - var(--altura-header));
}

.parceiro-oficial {
    display: flex;
    justify-content: space-between;

    background-color: var(--fundo-secundario);
    border-radius: var(--default-border-radius);
    border-radius: 10px;
    padding: 5px;

    text-decoration: none;
    color: white;
}

.parceiro-oficial img {
    display: flex;
    width: 40px;
}

.parceiro-oficial p {
    margin: auto 0;
    margin-left: 10px;
}

.ganhe-dinheiro {
    background-image: url("../../../public/imagens/dinheiro.png");
    border-radius: var(--default-border-radius);
    height: 50%;
}
