@import url("../../constantes.css");

*{
    box-sizing: border-box;
}

input, select{
    height: 3rem;
    width: 25rem;
    border-radius: var(--default-border-radius);
    background-color: var(--search-bar-fundo);
    color: var(--cor-texto-cadastro);
    padding-left: 1.2rem;
    outline: none;
    border: none;
}

select, select:hover{
    appearance: none;
}

footer{
    position: absolute;
    top: calc(100%);
}

form button{
    color: #FFF;
    font-weight: bolder;
    font-size: 1.2rem;
    height: 2.5rem;
    border-radius: var(--default-border-radius);
    background-color: var(--cor-secundaria);
    border: none;
    box-shadow: 3px 3px 10px black;
}

input::placeholder{
    color: var(--cor-texto-cadastro);
}

.Cadastro{
    margin-top: var(--altura-header);
}

.main-content{
    display: flex;
}

.form > h1{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3rem;
}

.form{
    flex: 1;
}

.Cadastro .form form{
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
}

.Cadastro .form form .inputs{
    display: flex;
    justify-content: center;
}

.Cadastro .form form button{
    width: 23rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.inputs section{
    padding: 0;
    /* flex: 1 0 40%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: .8rem 0;
    /* border: 2px solid greenyellow; */
}

section + section{
    margin-left: 2rem;
}

.val-cvv{
    display: flex;
    /* justify-content: center; */
    /* margin: auto; */
}

.val-cvv input{
    flex: 1 0 4rem;
    width: 4rem;
    /* margin: 0 auto; */
}

.val-cvv .fi-calendar{
    position: relative;
    left: -2rem;
    top: 30%;
}

.val-cvv input + input{
    margin-left: 2%;
}

section .fi-triangle{
    position: relative;
    top: -15%;
    right: -23rem;
    transform: rotate(180deg);
}
