@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

@import url("./constantes.css");

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo-primario);

    font-family: 'Roboto', sans-serif;
    color: white;
}
