@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
  --fundo-primario: #0F1923;
  --fundo-secundario: #1A242D;
  --cor-secundaria: #f12c4c;
  --cor-terciaria: #00BA75; 
  --cor-borda: #323b45;

  --cor-texto-cadastro: #bcbfc7;

  --search-bar-fundo: #1D2730;
  --search-bar-border: #323B45;


  --footer-color: #1a242d;

  --x-button-color: #bcbfc7;
  --input-field-color: #0f1923;

  --default-border-radius: 7px;
  --small-border-radius: 5px;

  --main-min-width: 420px;
  --main-max-width: 1100px;

  --entrar-width: 390px;
  --entrar-height: 511px;

}

a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fundo-primario);

    font-family: 'Roboto', sans-serif;
    color: white;
}

/* FOOTER */
footer {
  background-color: var(--footer-color);
  width: 100vw;
}

#footer-container {
  width: 75vw;
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}

/* #footer-container {
  width: 75vw;
} */

#redes-sociais {
  /* display: flex; */
  /* border: 1px solid red; */
  padding: 20px;
}

#logo-composto-footer {
  display: flex;
}

#logo-composto-footer p {
  margin: auto 0;
  font-size: 30px;
}

#redes-sociais-icones {
  display: flex;
  font-size: 50px;
  justify-content: center;
  column-gap: 50px;
}

#logo-footer {
  filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
  width: 50px;
}

.links-uteis-sobre-nos {
  /* border: 1px solid red; */
  padding: 20px;
}

.links-uteis-sobre-nos a {
  color: white;
  text-decoration: none;
}


/* CADASTRO */
/*
#cadastro {
  background-color: var(--fundo-secundario);
  width: 726px;
  height: 658px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--default-border-radius);
  display: flex;
  justify-content: space-around;
}

#cadastro img {
  border-bottom-left-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

#cadastro-x {
  color: var(--x-button-color);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

#cadastro-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}

#cadastro-info form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cadastro-info input {
  background-color: var(--input-field-color);
  padding: 5px;
  border-radius: var(--small-border-radius);
  color: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  padding: 20px;
}

#cadastro-info input:focus {
  border: none;
  outline: none;
}

#termos-condicoes {
  color: var(--cor-texto-cadastro);
  font-size: 12px;
}

#ja-investidor {
  color: var(--cor-texto-cadastro);
  font-size: 13px;
}
*/

/* ENTRAR */
/*
#entrar {
  background-color: var(--fundo-secundario);
  width: var(--entrar-width);
  height: var(--entrar-height);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--default-border-radius);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#entrar form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#entrar input {
  background-color: var(--input-field-color);
  padding: 5px;
  border-radius: var(--small-border-radius);
  color: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  padding: 20px;
}

#entrar input:focus {
  border: none;
  outline: none;
}

#entrar p {
  color: var(--cor-texto-cadastro);
}

#entrar-esqueceu-senha {
  font-size: 11px;
  text-align: left;
  color: var(--cor-texto-cadastro);
}

#ainda-nao-investidor {
  color: var(--cor-texto-cadastro);
}

#entrar-x {
  color: var(--x-button-color);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* LOGO */
/*
.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.urubu-svg {
  filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
  width: 30px;
}
*/
