@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
  --fundo-primario: #0F1923;
  --fundo-secundario: #1A242D;
  --cor-secundaria: #f12c4c;
  --cor-terciaria: #00BA75; 
  --cor-borda: #323b45;

  --cor-texto-cadastro: #bcbfc7;

  --search-bar-fundo: #1D2730;
  --search-bar-border: #323B45;


  --footer-color: #1a242d;

  --x-button-color: #bcbfc7;
  --input-field-color: #0f1923;

  --default-border-radius: 7px;
  --small-border-radius: 5px;

  --main-min-width: 420px;
  --main-max-width: 1100px;

  --entrar-width: 390px;
  --entrar-height: 511px;

}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--cor-secundaria);
}

body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  background-color: var(--fundo-primario);

  font-family: 'Roboto', sans-serif;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  /* height: 100vw; */
  pointer-events: none;
  animation: la-vem 0.5s infinite alternate;  
}
/*
#header {
  display: flex;
  justify-content: space-between;
  background-color: var(--fundo-primario);
  border-bottom: 1px solid var(--cor-borda);
  position: fixed;
  width: 100vw;
  top: 0;
}

#header-centro {
  display: flex;
}

#header-direito {
  display: flex;
  column-gap: 5px;
  margin: auto 0;
  margin-right: 10px;
}

#logo {
  width: 2.5vw;
  filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
}

.Urubu-svg{
  font-size: 10px;
  
}

#nome-empresa{
  color: whitesmoke;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  margin: auto 0;

}
*/
/* BOTAO GENERICO */
/*
.botao-generico {
  background-color: var(--cor-secundaria);
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 12px;
  color: white;
  max-width: 150px;
  margin: 0 auto;
}

.botao-generico:hover {
  cursor: pointer;
}

.botao-generico p {
  margin: 0;
}

.botao-generico a {
  text-decoration: none;
  color: white;
  margin: 0;
}

#bar-icon {
  color: white;
  margin: auto 0;
  /* border: 2px solid red;
  margin-left: 20px;
  font-size: 25px;
}

#bar-icon:hover {
  cursor: pointer;
}

/* @keyframes la-vem{
  from{
    filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
    transform: rotate3d(0deg,0deg,0deg);
  }
  to{
    transform: rotate3d(360deg,360deg,360deg)
  }
} */


/* SIDEBAR STUFF */
/*
#sidebar {
  background-color: var(--fundo-primario);
  border-right: 1px solid var(--cor-borda);
  margin-top: 0;
  text-decoration: none;
  color: white;
}

#parceiro-oficial {
  display: flex;
  justify-content: space-between;
  background-color: var(--fundo-secundario);
  border-radius: var(--default-border-radius);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
}

#parceiro-oficial img {
  display: flex;
  width: 40px;
}

#parceiro-oficial p {
  margin: auto 0;
  margin-left: 10px;
}
*/

/* MAIN */
main {
  display: flex;
  column-gap: 20px;
  margin: 20px;
}

/* MAIN CONTENT */
#main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* MAIN CARD STUFF */
#main-card {
  /* width: 75vw; */
  background-color: var(--cor-terciaria);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  max-width: var(--main-max-width);
  min-width: var(--main-min-width);

  /* border: 1px solid red; */
}

#main-card:hover {
  cursor: pointer;
}

/* SEARCHBAR */
#search-bar {
  display: flex;
  border: 1px solid var(--search-bar-border);
  border-radius: var(--default-border-radius);
  padding: 20px;
  background-color: var(--search-bar-fundo);
  /* margin-top: 20px; */

  max-width: var(--main-max-width);
  min-width: var(--main-min-width);
}

#search-bar p {
  margin: auto 0;
  margin-left: 20px;
}

/* SMALL CARDS SECTION */
#small-cards-section {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  /* columns: 33% 33%; */
  /* margin-top: 20px; */
  /* border: 1px solid red; */
  flex-wrap: wrap;
  /* column-gap: 20px; */
  /* gap: 20px; */
  /* flex: 33% 33% 33%; */
  row-gap: 20px;
  column-gap: 20px;
  max-width: var(--main-max-width);
  min-width: var(--main-min-width);
  margin: 0 auto;
}

/* SMALL CARDS */
.small-card {
  background-color: var(--cor-terciaria);
  border-radius: var(--default-border-radius);
  /* padding: 10px; */
  /* margin: 20px; */
  /* width: 200px; */
  /* height: 230px; */
  /* background-image: url("/images/img1.png"); */
}

.small-card:hover {
  cursor: pointer;
}

.small-card img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  /* margin: 0; */
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: -1; */
}

/* FOOTER */
footer {
  background-color: var(--footer-color);
  width: 100vw;
}

#footer-container {
  width: 75vw;
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}

/* #footer-container {
  width: 75vw;
} */

#redes-sociais {
  /* display: flex; */
  /* border: 1px solid red; */
  padding: 20px;
}

#logo-composto-footer {
  display: flex;
}

#logo-composto-footer p {
  margin: auto 0;
  font-size: 30px;
}

#redes-sociais-icones {
  display: flex;
  font-size: 50px;
  justify-content: center;
  column-gap: 50px;
}

#logo-footer {
  filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
  width: 50px;
}

.links-uteis-sobre-nos {
  /* border: 1px solid red; */
  padding: 20px;
}

.links-uteis-sobre-nos a {
  color: white;
  text-decoration: none;
}


/* CADASTRO */
/*
#cadastro {
  background-color: var(--fundo-secundario);
  width: 726px;
  height: 658px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--default-border-radius);
  display: flex;
  justify-content: space-around;
}

#cadastro img {
  border-bottom-left-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

#cadastro-x {
  color: var(--x-button-color);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

#cadastro-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}

#cadastro-info form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cadastro-info input {
  background-color: var(--input-field-color);
  padding: 5px;
  border-radius: var(--small-border-radius);
  color: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  padding: 20px;
}

#cadastro-info input:focus {
  border: none;
  outline: none;
}

#termos-condicoes {
  color: var(--cor-texto-cadastro);
  font-size: 12px;
}

#ja-investidor {
  color: var(--cor-texto-cadastro);
  font-size: 13px;
}
*/

/* ENTRAR */
/*
#entrar {
  background-color: var(--fundo-secundario);
  width: var(--entrar-width);
  height: var(--entrar-height);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--default-border-radius);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#entrar form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#entrar input {
  background-color: var(--input-field-color);
  padding: 5px;
  border-radius: var(--small-border-radius);
  color: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 100%;
  padding: 20px;
}

#entrar input:focus {
  border: none;
  outline: none;
}

#entrar p {
  color: var(--cor-texto-cadastro);
}

#entrar-esqueceu-senha {
  font-size: 11px;
  text-align: left;
  color: var(--cor-texto-cadastro);
}

#ainda-nao-investidor {
  color: var(--cor-texto-cadastro);
}

#entrar-x {
  color: var(--x-button-color);
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* LOGO */
/*
.logo {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.urubu-svg {
  filter: invert(98%) sepia(85%) saturate(27%) hue-rotate(169deg) brightness(116%) contrast(92%);
  width: 30px;
}
*/
