@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    /* cores universais */
	--fundo-primario: #0F1923;

	--fundo-secundario: #1A242D;
    --fundo-secundario-transparente: #1A242D85; 

	--cor-secundaria: #f12c4c;

	--cor-terciaria: #00BA75;
	--cor-terciaria-transparente: #00BA7580;
	
	--cor-borda: #323b45;

	--cor-texto-cadastro: #bcbfc7;

	--search-bar-fundo: #1D2730;
	--search-bar-border: #323B45;


	--footer-color: #1a242d;

	--x-button-color: #bcbfc7;
	--input-field-color: #0f1923;

	/* tamanhos universais */
	--default-border-radius: 7px;
	--small-border-radius: 5px;

    --main-width: 90%;
	--main-min-width: 420px;
	--main-max-width: 800px;

	--entrar-width: 390px;
	--entrar-height: 511px;
    
    --altura-header: 65px;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
