@import url("../../constantes.css");

.animal_info {
    width: 100%;
    max-width: var(--main-max-width);
    min-width: 700px;

    height: 25rem;
    min-height: 300px;
    
    margin: 0 auto;
    border-radius: var(--default-border-radius);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    box-shadow: 3px 3px 10px black;
}

.proximo_jogo {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: var(--default-border-radius);
    color: white;
    max-width: 15rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}

.info {
    width: 40%;
    background-color: var(--fundo-secundario-transparente);
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    box-shadow: -3px 0px 5px black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.info h2 {
    font-size: 2rem;
    text-align: center;
}

.info p {
    text-align: justify;
    font-size: 1rem;
}