@import url("../../constantes.css");

main {
	position: relative;

	height: calc(100vh - var(--altura-header));
	width: 100vw;

	margin-top: var(--altura-header);

	display: flex;
    flex-direction: row;
}

.conteudo-principal {

    width: 100%;

    border: 2px solid green;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0;
}

.resultados-anteriores {
    width: var(--main-width); 
	min-width: var(--main-min-width);
    max-width: var(--main-max-width);

    margin: 0 auto;
    height: 100%;
    border: 2px solid red;
}
