@import url("../../constantes.css");

.cadastro {
    background-color: var(--fundo-secundario);
    width: 726px;
    height: 658px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--default-border-radius);
    display: flex;
    justify-content: space-around;
}

.cadastro img {
    border-bottom-left-radius: var(--default-border-radius);
    border-top-left-radius: var(--default-border-radius);
}

.cadastro_x {
    color: var(--x-button-color);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.cadastro_info {
    display: flex;
    flex-direction: column; 
    padding: 30px;
    justify-content: center;
    gap: 2rem;
}

.cadastro_info h3 {
    text-align: center;
}

.cadastro_info_input {
    background-color: var(--input-field-color) !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: var(--input-field-color);
    padding: 5px;
    border-radius: var(--small-border-radius);
    color: white;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 100%;
    padding: 20px;
}

input:focus {
    border: none;
    outline: none;
}

.cadastro_info button {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.termos_condicoes {
    color: var(--cor-texto-cadastro);
    font-size: 0.9rem;
}

.termos_condicoes b {
    color: var(--cor-secundaria);
    cursor: pointer;
}

.ja_investidor {
    color: var(--cor-texto-cadastro);
    font-size: 0.8rem;
}

.ja_investidor b {
    color: var(--cor-secundaria);
    cursor: pointer;
}

.x {
    color: var(--x-button-color);
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}

.bonus {
    background-image: url("../../../public/imagens/cadastro.svg");
    background-size: cover;
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bonus p {
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 2rem;
    text-align: left;
}
